@import "../../../styles/common";

@media (min-width: $mobile-width) {
  .outer {
    display: flex;
    justify-content: center;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: auto;
  }
}

@media (min-width: $laptop-width) {
  .container {
    grid-template-columns: 33% 33% 33%
  }
}
