@import "../../../styles/common";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
}

.heading {
  padding: 1em;
  font-size: 20px;
  margin: 0em;
}